/* LANDING PAGE */

html,
body {
padding: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
    /* overflow-y: hidden;
    overflow-x: scroll; */
    scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 100%;
}


.container{
  overflow-y: hidden;
  overflow-x: hidden;
}

.container2 {
  overflow-x: hidden;
  overflow-y: hidden;

}

.titlepg{
  /* width: 100vw; */
  height: 100vh;
  /* background-color: beige; */
  float: left;
  /* padding-left: 10vw;
  padding-top: 6vh; */
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* -------------------------TITLE PAGE STYLING */

.titlebg {
  background-color: #008b8b;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: fixed;
  overflow: hidden;
  /* mix-blend-mode: lighten; */
  /* backdrop-filter: blur(20px); */
  /* background-blend-mode: lighten; */
  /* background-image: url(images/responsabilities1.png) */
  z-index: -200;

}



img {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
  object-fit: cover;
}

#img1 {
  top: 8vh;
  left: 15vw;
  width: 70vw;
  height: 80vh;

  /* display: block; */
  /* transform-origin: 100%, 100%; */
}

.title {
  font-family: "NaN Jaune Book";
  height: 100vh;
  text-shadow: 0 0 10px #008b8b, 0 0 10px #008b8b;
  /* width: 100vw; */
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
  color: bisque;
  mix-blend-mode: hard-light;
  font-size: 10vw;
  line-height: 9vw;
  overflow: hidden;
  padding-left: 7vw;
  padding-top: 10vh;
  padding-bottom: 7vh;
  position: absolute;
  z-index: 50;
}

.intro {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  position:  relative;
  display: block;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.introcontainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  float: left;
}

.introtext {
  /* font-family: "Literata 20pt"; */
  /* font-style: italic; */
  font-weight: normal;
  color: bisque;
  text-shadow: 0 0 10px #008b8b, 0 0 10px #008b8b;
  /* font-size: 1.4vw; */
  /* line-height: 1.7vw; */
  font-family: "NaN Jaune Mini Blond";
  font-size: 1.4vw;
  line-height: 1.8vw;
  /* background-color: red; */
  height: 15vh;
  width: 35vw;
  display: block;
  position: relative;
  top: 56vh;
  left: 49vw;
  margin:0;
  padding: 0;
  overflow: hidden;
  float:left;
}

.downarrow {
  width: auto;
  height: auto;
  top: 84vh;
  left: 45vw;
  padding: 0.5em;
  /* padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw; */
  margin:0;
  display: block;
  position: absolute;
  background-color: bisque;
  border-radius: 100px;
  z-index: 100;
  float:left;
  font-size: 1.2vw;
  font-family: "NaN Jaune Mini Blond";
  color: #008b8b;
  font-style: normal;
  text-align: center;

}

/* -------------------PAGE: CATEGORY----------------- */

.categorypg {
  width: 100vw;
  height: 135vh;
  /* background-color: yellow; */
  float: left;
  /* display: flex; */
  padding: 0;
  margin: 0;
  position: inherit;
  overflow: hidden;
  /* background-color: #ffb89b; */
  /* mix-blend-mode: lighten; */
  /* background-blend-mode: lighten; */
  /* background-image: url(images/responsabilities1.png) */

}

/* ----------------------CATEGORY STYLING ----------------------*/

.categorybg {
  width: 98vw;
  height: 135vh;
  /* background-color: yellow; */
  /* float: left; */
  padding: 0;
  margin: 0;
  position: absolute;
  overflow: hidden;
  /* background-color: #ffb89b; */
  mix-blend-mode: lighten;
  backdrop-filter: blur(20px);
  /* background-blend-mode: lighten; */
  /* background-image: url(images/responsabilities1.png) */
  z-index: -80;

}

.subtitle {
  font-family: "NaN Jaune Book";
  font-size: 10vw;
  line-height: 9vw;
  height: 100vh;
  /* width: 100vw; */
  font-style: normal;
  font-weight: normal;
  color: bisque;
  /* color: darkseagreen; */
  /* background-color:   #ffb89b; */
  /* opacity: 60%; */
  /* overflow: hidden; */
  /* text-align:center; */
  padding-left: 7vw;
  padding-top: 10vh;
  padding-bottom: 7vh;
  /* position: fixed; */
  position: absolute;
  /* z-index: -100; */
  text-shadow: 0 0 10px #008b8b, 0 0 10px #008b8b;

}

#subtitle1 {
  font-size: 5vw;
  line-height: 5vw;
}

.questions {
  height: 16vh;
  width: 56vw;
  font-family: "NaN Jaune Mini Blond";
  font-size: 1.4vw;
  line-height: 1.9vw;
  font-weight: normal;
  color: bisque;
  text-shadow: 0 0 10px #008b8b, 0 0 10px #008b8b;
  /* font-family: "Literata 20pt";
  font-size: 1.5vw;
  line-height: 1.9vw;
  font-style: italic;*/
  margin-left: 1vw;
  margin-top: 4vh;
  margin-bottom: 50vh;
  overflow: hidden;
  float:left;
  z-index: 100;
}

.choicecontainer {
  width: 70vw;
  height: 80vh;
  top:20%;
  left:15%;
  right: 15%;
  /* transform: translate(40%, 30%); */
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 0;
  padding: 0;
  /* margin-top: 37vh;
  margin-left: 5vw;
  margin-right: 5vw; */
  z-index: 100;
  /* background-color: bisque; */
}

.choicetitle {
  width: 60vw;
  height: 6vh;
  float: left;
  /* justify-content: center; */
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 0;
  margin-top: 2.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  overflow: hidden;
  border-top: 2px solid #008b8b;;
  /* background-color: red; */
  background-color: bisque;
  /* border-radius: 5px; */
  font-family: "NaN Jaune Mini Blond";
  font-size: 1.4vw;
  color: #008b8b;

}

/* .choicetitle:active {
  height:30vh;
  color: red;
} */

.choicetitle:hover {
  /* background-color:   #ffc1a9; */
  /* background-color:   white; */
  /* opacity: 60%; */
}

.randomchoice {
  width: auto;
  height: auto;
  top: 26vh;
  left: 77vw;
  padding: 1em;
  /* padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw; */
  margin:0;
  display: block;
  /* position: relative; */
  position: sticky;
  /* background-color: bisque; */
  /* background-color: #008b8b; */
  border-radius: 100px;
  z-index: 300;
  float:left;
  font-size: 1.4vw;
  font-family: "NaN Jaune Mini Blond";
  /* color: #008b8b; */
  color: bisque;
  font-style: normal;
  text-align: center;
  transform: rotate(20deg);
  /* text-shadow: 0 0 10px #008b8b, 0 0 10px #008b8b; */
  /* box-shadow: 0 0 10px #008b8b, 0 0 10px #008b8b; */
  box-shadow: 0 0 10px bisque, 0 0 10px bisque;


}

.choicecontent {
  width: 60vw;
  height: 7vh;
  float: left;
  margin-left: 5vw;
  margin-right: 5vw;
  /* margin-bottom: 2.5vh;
  margin-top: 2.5vh; */
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  overflow: hidden;
  /* display: none; */
  background-color: bisque;
  font-family: "Literata 20pt";
  font-size: 1.4vw;
  line-height: 1.6vw;
  color: dimgrey;
  font-style: italic;
}

.choicecontent:hover {
  height: 30vh;
}

.choicecard {
  width: 33.3%;
  height: 27vh;
  float:left;
  /* justify-content: center; */
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  /* background-color: green; */
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top:0;
  margin: 0 auto;
}

.cardtitle {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

#imgcard1 {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 3vh;
  object-fit: scale-down;
  z-index: 100;
}


.choicetext {
  width: inherit;
  padding-right: 1vw;
  height: inherit;
  font-family: "Literata 20pt";
  font-size: 1.3vw;
  line-height: 1.6vw;
  color: darkgrey;
  font-style: italic;
  overflow: hidden;
  padding-top: 1vh;
  /* mix-blend-mode: multiply; */
}

/* --------------------- FOOTER: ABOUT + CONTACT ----------------------- */

.footerpg {
  width: 100vw;
  height: 200vh;
  /* background-color: yellow; */
  float: left;
  padding: 0;
  margin: 0;
  position: inherit;

}

.footer {
  /* width: 100vw; */
  /* height: 100vh; */
  top:100vh;
  left:0;
  background-color: bisque;
}

.footertitle {
  width: 100vw;
  height: 100vh;
  top:100vh;
  left:0;
  background-color: bisque;
  float: left;
  padding: 6em;
  /* padding-left: 6em; */
  margin: 0;
  position: relative;
  display: block;
  font-family: "NaN Jaune Mini Blond";
  color: #008b8b;
  font-size: 1.3vw;

}

.footertext {
  width: 100vw;
  padding-left:25vw;
  padding-right: 25vw;
  padding-top: 1em;
  font-family: "Literata 20pt";
  font-style: italic;
  color: black;
}
